<div class="RegistroHuesped-container">
  <div class="registro-container">
    <div class="huesped-area">
      <h2 style="color: white">Formulario Huesped</h2>
      <div class="huesped-form">
        <app-form-registro
          (idUsuarioRegistrador)="onIdUsuarioRegistrador($event)"
        ></app-form-registro>
      </div>
      <div style="width: 100% ;">
             <button mat-raised-button class="dirigir" routerLink="/SACH/huesped">Ver Registro Huespedes</button>
      </div>
 
    </div>

    <div class="right-column">
      <div class="user-area" *ngIf="user">
        <h2 st>Datos Usuario</h2>

        <div class="infodata">
          <div class="left">
            <img
              class="user-image"
              [src]="urlImg + user.imagenBase64"
              alt="{{ user.name }}"
            />
          </div>

          <div class="rigth">
            <h3>Nombre: {{ user.name }}</h3>
            <h3>Apellido: {{ user.apellido }}</h3>
            <h3>Rol: {{ user.typeUser }}</h3>
          </div>
        </div>
      </div>

      <div class="user-area">
        <h2 st>Datos de Habitacion</h2>

        <div class="infodata">
          <div class="left">
            <h3>
              Precio: {{ room!.precio | currency : "Q" : "symbol" : "1.2-2" }}
            </h3>
            <h3>Tipo: {{ room.habitacion }}</h3>
            <h3>Estado: {{ room.estado }}</h3>

            <select
              id="estado"
              class="custom-select"
              [ngClass]="estadoSeleccionado"
              [(ngModel)]="estadoSeleccionado"
              (change)="cambiarEstado($event)"
            >
              <option
                *ngFor="let estado of estadosDisponibles"
                [value]="estado"
              >
                {{ estado }}
              </option>
            </select>
          </div>

          <div class="rigth">
            <h2>Detalles</h2>
            <textarea
              id="pendientes"
              [(ngModel)]="mensaje"
              (ngModelChange)="guardarMensajePorHabitacion()"
              placeholder="Escribe un mensaje para esta habitación..."
            ></textarea>

            <button
              (click)="borrarMensajePorHabitacion()"
              class="borrar-mensaje-btn"
            >
              Eliminar mensaje
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
