
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nombre Huesped</mat-label>
    <input matInput formControlName="nameHuesped">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido Huesped</mat-label>
    <input matInput formControlName="apellidoHuesped">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefono Huesped</mat-label>
    <input matInput formControlName="telefono" type="tel"  pattern="[0-9]*" 
    placeholder="debe tener como minimo 8 digitos"
    maxlength="16">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Número de Personas</mat-label>
    <input matInput type="number" formControlName="numPersonas">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <input matInput formControlName="statusHuesped">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto"
    placeholder="Coloque el monto total a cancelar por la habitación">
  </mat-form-field>

  <div formGroupName="usuarioRegistrador">
  <mat-form-field>
    <mat-label>Id Usuario</mat-label>
    <input matInput formControlName="id_users" readonly>
  </mat-form-field>
</div>

<div formGroupName="habitacionAsignada">
  <mat-form-field>
    <mat-label>Número de Habitación</mat-label>
    <input matInput formControlName="id_Rooms" readonly>
  </mat-form-field>
</div>

  <mat-form-field class="full-width">
    <mat-label>Introduzca un rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="fechaRegistro" placeholder="Fecha de inicio">
      <input matEndDate formControlName="fechaSalida" placeholder="Fecha de finalización">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button mat-raised-button type="submit">Guardar</button>
  <button mat-raised-button type="button" (click)="cancelar()">Cancelar</button>

</form>
